<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GraphQL-home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <nav>
        <a href="/logout">
            <svg role="img" width="19px" viewBox="0 0 130 130" aria-label="icon">
                <path fill="none" stroke="var(--neutral)" stroke-width="7px"
                    d="M85 21.81a51.5 51.5 0 1 1-39.4-.34M64.5 10v51.66"
                    style="transition: stroke 0.2s ease-out 0s, opacity 0.2s ease-out 0s;"></path>
            </svg>
        </a>
        <a href="/home">Home</a>
        <a href="https://zone01rouennormandie.org/">About</a>
        <a id="contact-link" href="mailto:gsouhailg@gmail.com">
            <span class="arrow">→</span>
            <span id="contact">Contact Me</span>
        </a>
    </nav>
    <main>
        <div id="start"></div>

    </main>
</body>
<script src="home.js"></script>

</html>